@font-face {
    font-family: 'dotdig7';
    src: url('/font/dot_digital-7-webfont.eot');
    src: url('/font/dot_digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/dot_digital-7-webfont.woff2') format('woff2'),
         url('/font/dot_digital-7-webfont.woff') format('woff'),
         url('/font/dot_digital-7-webfont.svg#dot_digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
