<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户页面</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link href="/css/common.css" rel="stylesheet" type="text/css">
<script language="javascript" src="/js/vue.js"></script>
<script language="javascript" src="/js/axios.js"></script>
<script language="javascript" src="/js/vars.js"></script>
<script language="javascript" src="/js/md5.js"></script>
<style type="text/css">
  #main{
    width: 80%;
    margin: 0 auto;
  }
  #main .icon{
    box-shadow: 1px 1px 2px #999;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 256px;
    height: 256px;
    margin: 20px auto;
  }
  #main .data{
    height: 24px;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #main.edit .data,
  #main .showex .data{
    border: 1px solid #aaa;
  }
  #main .edit{
    padding: 5px 16px;
    box-shadow: 1px 1px 1px #aaa;
    width: 50px;
    margin: 0 auto;
  }
  #main .edit:hover{
    background: #dfd;
  }
  #main .edit:active{
    background: #bfb;
  }
  #main .showex{
    overflow: hidden;
    height: 0;
    margin: 20px auto 0;
    transition: height .5s;
    -webkit-transition: height .5s;
  }
  #main .showex.show{
    height: 60px;
  }
  #main .showex .data{
    display: block;
    margin: 4px auto 0;
    padding: 0 10px;
  }
</style>
<script language="javascript">
  var usrv, loginv;
</script>
</head>
<body>
  {include file="common/login"}
  <div id="main" :class="view?'view':'edit'" v-cloak>
    {include file="common/header"}
    <!--<div class="icon" :style="'background-image: url('+icon+');'"></div>-->
    <span>显示名称:</span>
    <a v-if="view" class="data name">{{user.name}}</a>
    <input v-else class="data name" type="text" maxlength="200" v-model="user.name"/>
    <br/>
    <span>id:</span>
    <a v-if="view" class="data usrid">{{user.usrid}}</a>
    <input v-else class="data usrid" type="text" maxlength="200" v-model="user.usrid"/>
    <a class="uid">, uid:{{user.id}}</a>
    <br/>
    <span>权限:</span>
    <a v-if="view||!(user.permission&vars.Permission.admin)" class="data permission">{{permissionstr}}</a>
    <input v-else class="data permission" type="text" maxlength="200" v-model="user.permission"/>
    <br/>
    <span>用户组:</span>
    <a v-if="view||!user.usrgroup==3" class="data group">{{groupstr}}</a>
    <input v-else class="data group" type="text" maxlength="200" v-model="user.usrgroup"/>
    <br/>
    <span>主页:</span>
    <a v-if="view" class="data hp" :href="user.homepage">{{user.homepage}}</a>
    <input v-else class="data hp" type="text" maxlength="200" v-model="user.homepage"/>
    <br/>
    <span>GitHub:</span>
    <a v-if="view" class="data github" :href="'https://github.com/'+user.github">{{user.github}}</a>
    <input v-else class="data github" type="text" maxlength="200" v-model="user.github"/>
    <br/>
    <span>Steam:</span>
    <a v-if="view" class="data steam" :href="'https://steamcommunity.com/id/'+user.steam">{{user.steam}}</a>
    <input v-else class="data steam" type="text" maxlength="200" v-model="user.steam"/>
    <div v-if="logged&&canedit" class="edit beforestr" :str="view?'编辑':'完成'" @click="edit"></div>
    <div v-if="failed" style="color:#f00">修改失败</div>
    <div class="showex" :class="showex?'show':'hidden'">
      <input class="data pw" type="password" maxlength="=200" placeholder="新密码" v-model="me.pw"/>
      <input class="data email" type="text" maxlength="=200" placeholder="新邮箱" v-model="me.email"/>
    </div>
    <div v-if="isme" class="edit beforestr" :str="viewex?'修改邮箱/密码':'完成'" style="width: 120px;" @click="editex"></div>
    <div v-if="exfailed" style="color:#f00">修改失败</div>
  </div>
  <script language="javascript">
    usrv = new Vue({
      el: '#main',
      data: {
        user: {$userdata},
        icon: "",
        view: true,
        viewex: true,
        showex: false,
        logged: false,
        isme: false,
        canedit: false,
        failed: false,
        exfailed: false,
        proc: false,
        me: {
          id: 0,
          permission: vars.Permission.read,
          usrgroup: vars.UserGroup.guest,
          pw: "",
          email: ""
        }
      },
      computed: {
        permissionstr: function(){
          p = [];
          if (this.user.permission&vars.Permission.read)
            p.push[vars.Permission.readstr];
          if (this.user.permission&vars.Permission.rep)
            p.push[vars.Permission.repstr];
          if (this.user.permission&vars.Permission.newpost)
            p.push[vars.Permission.newpoststr];
          if (this.user.permission&vars.Permission.admin)
            return vars.Permission.adminstr;
          return p.join(',');
        },
        groupstr: function(){
          g = "用户";
          this.user.usrgroup = parseInt(this.user.usrgroup);
          switch(this.user.usrgroup){
            case vars.UserGroup.normal:
              return vars.UserGroup.normalstr+g;
            case vars.UserGroup.banned:
              return vars.UserGroup.bannedstr+g;
            case vars.UserGroup.admin:
              return vars.UserGroup.adminstr+g;
            default:
              return vars.UserGroup.gueststr+g;
          }
        }
      },
      methods: {
        edit: function(){
          if (this.proc)
            return;
          let v = this;
          v.failed = false;
          if (v.view)
            return v.view = false;
          v.user.usrgroup = parseInt(v.user.usrgroup);
          v.proc = true;
          const params = new URLSearchParams();
          params.append('id', v.user.id);
          params.append('usrid', v.user.usrid);
          params.append('name', v.user.name);
          params.append('permission', v.user.permission);
          params.append('usrgroup', v.user.usrgroup);
          params.append('hp', v.user.homepage);
          params.append('github', v.user.github);
          params.append('steam', v.user.steam);
          axios.post("/user/edit", params)
            .then(function(res){
              if (res.data==vars.UserStatus.success)
                location.reload(true);
              else v.failed = true;
              v.proc = false;
            })
            .catch(function(res){
              v.failed = true;
              v.proc = false;
            });
        },
        editex: function(){
          if (this.proc)
            return;
          let v = this;
          v.exfailed = false;
          if (v.viewex){
            v.viewex = false;
            v.showex = true;
            return;
          }
          if (v.me.pw==""&&v.me.email=="")
            return;
          v.proc = true;
          const params = new URLSearchParams();
          params.append('id', v.user.id);
          params.append('pw', md5(v.me.pw));
          params.append('email', v.me.email);
          axios.post("/user/edit", params)
            .then(function(res){
              if (res.data==vars.UserStatus.success)
                location.reload(true);
              else v.exfailed = true;
              v.proc = false;
            })
            .catch(function(res){
              v.exfailed = true;
              v.proc = false;
            });
        }
      }
    });
    usrv.icon = "/img/icon/"+usrv.user.id+".png";
    authkey = getCookie('authkey');
    if (authkey != null){
      usrv.me.id = getCookie('id');
      if (usrv.me.id==null){
        delCookie('authkey');
      }
      else {
      axios.get("/user/"+usrv.me.id)
        .then(function(res){
          usrv.logged = true;
          usrv.me.permission = parseInt(res.data.permission);
          usrv.me.usrgroup = parseInt(res.data.usrgroup);
          usrv.isme = usrv.me.id==usrv.user.id;
          usrv.canedit = (usrv.me.permission&vars.Permission.admin||usrv.me.usrgroup==vars.UserGroup.admin||usrv.isme);
        })
        .catch(function(res){
          delCookie('authkey');
          delCookie('id');
        });
      }
    }
  </script>
</body>
</html>

