<style type="text/css">
#login{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9;
  visibility: hidden;
}
#login.show{
  visibility: visible;
}
#login .form{
  position: absolute;
  width: 240px;
  top: 15%;
  left: 50%;
  margin-left: -120px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  transition: all .5s;
  -webkit-transition: all .5s;
  z-index: 10;
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  transform-origin: top;
  -webkit-transform-origin: top;
}
#login .form input{
  position: absolute;
  height: 36px;
  line-height: 36px;
  width: 90%;
  left: 5%;
  padding: 0 10px;
  box-sizing: border-box;
  border: solid 1px #aaa;
}
#login .form .inputerr{
  border-color: #f66;
}
#login.show .form{
  transform: rotateX(0);
}
#login .form .idtips{
  width: 92%;
  left: 4%;
  top: -42px;
  height: 48px;
}
#login .form .idtips.hidden{
  top: -70px;
}
#login .form .id{
  top: 10px;
}
#login .form .pw{
  top: 56px;
}
#login .form .cpw{
  top: 102px;
}
#login .form .name{
  top: 148px;
}
#login .form .email{
  top: 194px;
}
#login .form .ok{
  margin-top: 94px;
  margin-bottom: 4px;
  display: inline-block;
  width: 50%;
  height: 36px;
  line-height: 36px;
  box-shadow: 1px 1px 1px #aaa;
}
#login .form.reg .ok{
  margin-top: 232px;
}
#login .form .ok:hover{
  background-color: #dfd;
}
#login .form .ok:active{
  background-color: #bfb;
}
#login .tips-left,
#login .tips-right{
  margin-top: 4px;
}

.mask{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s;
  -webkit-transition: all .5s;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
}
.show .mask{
  opacity: .2;
  visibility: visible;
}
input.inputerr{
  border-color: #f66;
}
#login.show .tabs{
  transform: rotateX(0);
  -webkit-transform: rotateX(0);
}
#login .tabs{
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transition: all .5s;
  -webkit-transition: all .5s;
  position: absolute;
  z-index: 11;
  background: #fff;
  width: 240px;
  height: 40px;
  left: calc(50% - 120px);
  top: calc(15% - 40px);
}
#login .tabs .tab{
  line-height: 40px;
  float: left;
}
#login .tabs .tab:hover{
  background-color: #dfd;
}
#login .tabs .tab:active{
  background-color: #bfb;
}
#login .tabs .nowtab{
  position: absolute;
  height: 5px;
  background-color: #bfb;
  transition: all .5s;
  -webkit-transition: all .5s;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
#login .tabs .tab,
#login .tabs .nowtab{
  width: 50%;
}
</style>
<div id="login" :class="show?'show':''" v-cloak>
  <div class="tabs">
    <div class="nowtab" :style="'transform: translateX('+(login?'0':'100')+'%);'"></div>
    <div class="tab beforestr" str="登录" @click="login = true;"></div>
    <div class="tab beforestr" str="注册" @click="login = false;"></div>
  </div>
  <div v-if="login" class="login form">
    <input class="id" :class="iderr?'inputerr':''" type="text" placeholder="*用户名" maxlength="200" v-model="data.id" @focus="clearerr('iderr');" @input="chkid" @keyup.enter="ilogin"/>
    <div class="id tips-left beforestr" :class="iderr?'showtips':'hidden'" str="输入用户名"></div>
    <input class="pw" :class="pwerr?'inputerr':''" type="password" placeholder="*密码" v-model="data.pw" @focus="clearerr('pwerr');" @keyup.enter="ilogin"/>
    <div class="pw tips-left beforestr" :class="pwerr?'showtips':'hidden'" str="输入密码" key="tipslogin"></div>
    <div class="ok btn beforestr" str="登录" @click="ilogin"></div>
    <a style="margin-left: 16px;" href="javascript:void(0);">重置密码</a>
    <div class="idtips tips beforestr" :class="failed?'showtips':'hidden'" str="登录失败" style="line-height: 48px;"></div>
    <div class="idtips tips beforestr" :class="idtips?'showtips':'hidden'" str="必须以字母开头，仅包含字母/数字/下划线，且长度大于2"></div>
  </div>
  <div v-else class="reg form">
    <input class="id" :class="iderr?'inputerr':''" type="text" placeholder="*用户名" maxlength="200" v-model="data.id" @focus="clearerr('iderr');" @input="chkid" @change="iduse" @keyup.enter="ireg"/>
    <div class="id tips-left beforestr" :class="iderr?'showtips':'hidden'" str="输入用户名"></div>
    <div class="id tips-right beforestr" :class="idused?'showtips':'hidden'" str="已被占用"></div>
    <input class="pw" :class="pwerr?'inputerr':''" type="password" placeholder="*密码" v-model="data.pw" @focus="clearerr('pwerr');" @keyup.enter="ireg"/>
    <div class="pw tips-left beforestr" :class="pwerr?'showtips':'hidden'" str="输入密码" key="tipsreg"></div>
    <input class="cpw" :class="cpwerr?'inputerr':''" type="password" placeholder="*确认密码" v-model="data.cpw" :style="data.pw==data.cpw?'':'border-color: #f66;'" @focus="clearerr('cpwerr');" @keyup.enter="ireg"/>
    <div class="cpw tips-left beforestr" :class="cpwerr?'showtips':'hidden'" str="确认密码"></div>
    <input class="name" type="text" :placeholder="data.id==''?'马甲':data.id" v-model="data.name" @focus="clearerr();" @keyup.enter="ireg"/>
    <input class="email" tyle="text" placeholder="邮箱" v-model="data.email" @focus="clearerr();" @input="chkemail" @keyup.enter="ireg"/>
    <div class="email tips-left beforestr" :class="emailerr?'showtips':'hidden'" str="邮箱有误"></div>
    <div class="ok btn beforestr" str="注册" @click="ireg"></div>
    <div class="idtips tips beforestr" :class="failed?'showtips':'hidden'" str="注册失败" style="line-height: 48px;"></div>
    <div class="idtips tips beforestr" :class="idtips?'showtips':'hidden'" str="必须以字母开头，仅包含字母/数字/下划线，且长度大于2"></div>
  </div>
  <div class="mask" @click="hidemask();"></div>
</div>
<script language="javascript">
loginv = new Vue({
  el: '#login',
  data: {
    show: false,
    login: true,
    proc: false,
    iderr: false,
    pwerr: false,
    cpwerr: false,
    emailerr: false,
    idused: false,
    idtips: false,
    failed: false,
    cleartimer: null,
    data: {
      id: "",
      pw: "",
      cpw: "",
      name: "",
      email: ""
    }
  },
  methods: {
    hidemask: function(){
      this.show = false;
      this.iderr = false;
      this.pwerr = false;
    },
    clearerr: function(e = ""){
      let v = this;
      if (e!="")
        v[e] = false;
      if (v.cleartimer==null){
        v.cleartimer = setTimeout(function(){
          v.failed = false;
          v.cleartimer = null;
        },500);
      }
    },
    ilogin: function(){
      if (this.proc)
        return;
      let v = this;
      v.failed = false;
      if (v.data.id==""||v.idtips)
        v.iderr = true;
      if (v.data.pw=="")
        v.pwerr = true;
      if (v.iderr||v.pwerr)
        return;
      v.proc = true;
      const params = new URLSearchParams();
      params.append('id', v.data.id);
      params.append('pw', md5(v.data.pw));
      axios.post('/user/login', params)
        .then(function(res){
          if (res.data==vars.UserStatus.success)
            location.reload(true);
          else v.failed = true;
          v.proc = false;
        })
        .catch(function(res){
          v.failed = true;
          v.proc = false;
        });
    },
    ireg: function(){
      if (this.proc)
        return;
      let v = this;
      v.failed = false;
      if (v.data.id==""||v.idtips)
        v.iderr = true;
      if (v.data.pw=="")
        v.pwerr = true;
      if (v.data.cpw==""||v.data.pw!=v.data.cpw)
        v.cpwerr = true;
      if (v.iderr||v.pwerr||v.cpwerr||v.idused||v.emailerr)
        return;
      if (v.data.name=="")
        v.data.name = v.data.id;
      v.proc = true;
      const params = new URLSearchParams();
      params.append('id', v.data.id);
      params.append('pw', md5(v.data.cpw));
      params.append('name', v.data.name);
      params.append('email', v.data.email);
      axios.post('/user/reg', params)
        .then(function(res){
          if (res.data==vars.UserStatus.success)
            location.reload(true);
          else v.failed = true;
          v.proc = false;
        })
        .catch(function(res){
          v.failed = true;
          v.proc = false;
        });
    },
    chkid: function(){
      if (vars.Regexp.usrid.test(this.data.id))
        this.idtips = false;
      else this.idtips = true;
    },
    chkemail: function(){
      if (vars.Regexp.email.test(this.data.email)||this.data.email=="")
        this.emailerr = false;
      else this.emailerr = true;
    },
    iduse: function(){
      if (this.iderr||this.idtips)
        return;
      let v = this;
      axios.get("/user/idused/"+this.data.id)
        .then(function(res){
          if (res.data=='0')
            v.idused = false;
          else v.idused = true;
        });
    }
  }
});
</script>